# vscode
.vscode/* 
*.code-workspace
!.vscode/launch.json

# Intellij
*.iml
.idea

# npm
node_modules

# Out file
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.aider*

# Python
.venv/*

# TS Error Checking
.tsbuildinfo
